{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <h1>Welcome to your productivity app</h1>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <h5>To add a new list <a href="{% url 'list_new' %}">click here</a></h5>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <h5>or to edit an existing list <a href="{% url 'todolists' user.pk %}">click here.</a></h5>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% else %}
    <div class="container" style="padding-top:30px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <h2>You must Sign Up or Login to make a list</h2>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <span style="font-size: 20px;">
                    <a href="{% url 'login' %}">Log In</a> | 
                    <a href="{% url 'signup'%}">Sign Up</a> 
                </span>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endif %}
{% endblock content %}