{% extends 'base.html' %}

{% block title %}To Do Lists{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center">
            <h1>{{ user.username }}'s Lists</h1>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% for list in object_list %}
    <div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold d-flex justify-content-center">{{ list.name }}</span>
                    </div>
                    <div class="card-body">
                        <ol>
                            {% for item in list.items.all %}
                            <input class="form-check-input" type="checkbox"> <li> {{ item }}</li>
                            {% endfor %}
                        </ol>
                        
                    </div>
                    <div class="card-footer text-center text-muted">
                        <a href="{% url 'item_new' list.pk %}">Add an Item</a> | 
                        <a href="{% url 'list_delete' list.pk %}">Delete List</a>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    {% endfor %}
    {% endblock content %}